* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    font-size: 10px;
}
body {
    font-family: 'Lato', sans-serif !important;
    background-color: #e5e5e5 !important;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
}
.me-header {
    height: 6rem;
    box-shadow: 0 0 1.2rem rgba(11, 79, 114, 0.3);
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: #2d3e50;
}
.me-header-logo {
    float: left;
    height: 6rem;
}
.me-header-logo-img {
    margin-top: 2rem;
}
.me-header-links {
    float: right;
}
.me-header-link {
    float: left;
    padding: 2rem 2rem;
    color: #fff;
}
.me-header-link:hover {
    color: #fff;
    background-color: #34495e;
    text-decoration: none;
}
.me-top {
    margin-top: 4rem;
}
.me-search {
    position: relative;
    margin-bottom: 4rem;
}
.me-search-input {
    border: 1px solid rgba(247, 87, 87, 0.1);
    font-size: 1.8rem;
    padding: 2rem;
    width: calc(100% - 16rem);
}
.me-search-button {
    position: absolute;
    width: 16rem;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    background: #F75757;
    color: #fff;
    font-size: 1.8rem;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;
}
.me-search-button:hover,
.me-search-button:focus {
    background: #F78080;
}
/* small devices */
@media (max-width: 767px) {
    .me-search-input {
        padding: 2rem;
        width: calc(100% - 6rem);
    }
    .me-search-button {
        width: 6rem;
    }
}
.movie-card-view {
    margin-bottom: 15px;
}
.text-black {
    color: #333 !important;
}
a.text-black:focus, a.text-black:hover {
    color: #7b7b7b !important;
    text-decoration: none;
}
.list {
    display: block;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
    border-radius: 2px;
    transition: all .2s ease-in-out;
}
.list-header {
    display: block;
    float: left;
    width: 35%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 2px 0 0 2px;
}
.list-header img {
    width: 100%;
}
.list-header .list-header-image:after {
    display: block;
    content: '';
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 100%;
    left: 100%;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 200px 100px rgba(0,0,0,.58);
    z-index: 1;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
}
.list-content {
    display: block;
    height: 278px;
    margin-left: 35%;
    padding: 15px;
    color: #000;
}
.list-meta {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 100%;
}
.list-meta .list-meta-item {
    display: inline-block;
    margin-right: 18px;
    color: #666;
}
.rating-icon {
    vertical-align: middle;
    background: no-repeat url(/img/rating-sprite.png);
    width: 30px;
    height: 30px;
    background-size: 61px 216px;
}
.imdb-icon{
    background-position: 0 1px;
}
.rt-icon{
    background-position: 0 -30px;
}
.mc-icon{
    background-position: -31px 1px
}
.list:after {
    display: block;
    clear: both;
    content: '';
}
.list:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
}
.movie-overview {
    color: #4d4d4d;
}
.view-more {
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0px;
    margin: 0px;
}
@media only screen and (max-width: 991px) {
    .list-header {
        display: block;
        width: 100%;
        padding: 0;
        border-radius: 0;
    }
    .list-content {
        display: block;
        width: 100%;
        margin-left: 0;
        padding: 15px;
        clear: both;
    }
    .movie-overview{
        display: none;
    }
}