<ng2-slim-loading-bar></ng2-slim-loading-bar>
<div class="me-header">
    <div class="container">
        <header class="row">
            <div class="col-xs-12">
                <a href="/" class="me-header-logo">
                    <img class="me-header-logo-img" role="banner" src="/img/logo.png" alt="Moviexplorer">
                </a>
                <div class="me-header-links">
                    <a href="/" class="me-header-link">Login</a>
                </div>
            </div>
        </header>
    </div>
</div>
<movie-cmp></movie-cmp>
