<ng2-slim-loading-bar></ng2-slim-loading-bar>
<div class="me-header">
    <div class="container">
        <header class="row">
            <div class="col-xs-12">
                <a routerLink='/' class="me-header-logo">
                    <img class="me-header-logo-img" role="banner" src="/img/logo.png" alt="Moviexplorer">
                </a>
                <div class="me-header-links">
                    <a class="me-header-link" *ngIf="isLoggedIn" routerLink="recommendations" routerLinkActive="me-header-link-active">Recommendations</a>
                    <a class="me-header-link" (click)="openModal()" *ngIf="!isLoggedIn">Login</a>
                    <a class="me-header-link" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
                </div>
            </div>
        </header>
    </div>
</div>
<modal #loginModal (onDismiss)="resetForms()" (onClose)="resetForms()">
    <modal-header [show-close]="true">
        <h1 class="text-center" *ngIf="showLoginField">Login</h1>
        <h1 class="text-center" *ngIf="!showLoginField">Register</h1>
    </modal-header>
    <modal-body>
         <div *ngIf="showLoginField">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <input class="form-control input-lg" type="text" placeholder="Username" [(ngModel)]="userCredentials.username" formControlName="username">
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" type="password" placeholder="Password" [(ngModel)]="userCredentials.password" formControlName="password">
                </div>
                <button type="submit" class="btn btn-lg  btn-block btn-success" [disabled]="!loginForm.valid">Login</button>
            </form>
            <div class="alert alert-danger" *ngIf="error">
                <strong>There was a problem!</strong> Username or/and password is incorrect!
            </div>
        </div>
        <div *ngIf="!showLoginField">
            <form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm()">
                <div class="form-group">
                    <input class="form-control input-lg" type="text" placeholder="Username" id="username" [(ngModel)]="userInformation.username" formControlName="username">
                    <div *ngIf="formErrors.username" class="alert alert-danger">
                        {{ formErrors.username }}
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" type="email" placeholder="Email" id="email" [(ngModel)]="userInformation.email" formControlName="email">
                    <div *ngIf="formErrors.email" class="alert alert-danger">
                        {{ formErrors.email }}
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" type="password" placeholder="Password" id="password" [(ngModel)]="userInformation.password" formControlName="password">
                    <div *ngIf="formErrors.password" class="alert alert-danger">
                        {{ formErrors.password }}
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" type="password" placeholder="Confirm Password" id="confirmPassword" formControlName="confirmPassword">
                    <div *ngIf="formErrors.confirmPassword" class="alert alert-danger">
                        {{ formErrors.confirmPassword }}
                    </div>
                </div>
                <button type="submit" class="btn btn-lg  btn-block btn-success" [disabled]="!registerForm.valid">Register</button>
            </form>
        </div>
    </modal-body>
    <modal-footer>
        <p class="text-center modal-footer-text" *ngIf="showLoginField">
            <small>New to Moviexplorer? <a (click)="showLoginField=false">Register</a></small>
        </p>
        <p class="text-center modal-footer-text" *ngIf="!showLoginField">
            <small>Already have an account? <a (click)="showLoginField=true" >Login</a></small>
        </p>
        <p class="text-center modal-footer-text" *ngIf="showLoginField">
            <small>Forgot your password? <a>Reset Password</a></small>
        </p>
    </modal-footer>
</modal>
<router-outlet></router-outlet>