<div class="container me-top">
    <div class="row">
        <div class="col-xs-12">
            <div class="me-search">
                <form (ngSubmit)="searchMovie(movie_search_box.value)">
                    <input #movie_search_box type="search" class="me-search-input" placeholder="Search movies">
                    <button type="submit" class="me-search-button">
                        <span class="hidden-xs">Search</span>
                        <i class="fa fa-search visible-xs-inline"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 movie-card-view" *ngFor="let movie of movieSearchResults">
            <div class="list">
                <div class="list-header">
                    <a href="#" class="list-header-image">
                        <img *ngIf="movie.movie.poster_path" src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie.movie.poster_path}}">
                        <img *ngIf="!movie.movie.poster_path" src="/img/no-poster.png">
                    </a>
                </div>
                <div class="list-content">
                    <h4><a href="#" class="text-black">{{movie.movie.title | truncate : 35}}</a></h4>
                    <span class="list-meta">
                        <span class="list-meta-item"><i class="fa fa-clock-o"></i> {{(movie.movie.release_date | date:"yyyy") || "N/A"}}</span>
                        <span class="list-meta-item"><i class="fa rating-icon imdb-icon"></i> {{movie.imdb_rating || "N/A"}}</span>
                        <span class="list-meta-item"><i class="fa rating-icon rt-icon"></i> {{movie.tomato_meter || "N/A"}}</span>
                        <span class="list-meta-item"><i class="fa rating-icon mc-icon"></i> {{movie.metascore || "N/A"}}</span>
                    </span>
                    <p class="movie-overview">{{movie.movie.overview | truncate : 300}} </p>
                    <rating-cmp *ngIf="authService.isLoggedIn" [movie_id]="movie.movie.id"></rating-cmp>
                </div>
            </div>
        </div>
    </div>
</div>
