<div class="me-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="me-search">
                    <form role="form" data-init="search-form" action="/">
                        <input type="search" class="me-search-input" placeholder="Search movies">
                        <button type="submit" class="me-search-button">
                            <span class="hidden-xs">Search</span>
                            <i class="fa fa-search visible-xs-inline"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>